{{!-- The following component displays Ember's default welcome message. --}}
{{!-- <WelcomePage /> --}}
{{!-- Feel free to remove this! --}}

<nav>
	{{#link-to 'index'}}
		Home
	{{/link-to}}

	{{#if session.isAuthenticated}}
		<button {{action 'logout'}}>Logout</button>
	{{else}}
		{{#link-to 'login'}}Login{{/link-to}}
	{{/if}}

</nav>

<br/>

{{outlet}}