<div class="container-fluid">
	<h1 class="h3 mb-4 text-gray-800">Products &amp; Editions</h1>
	<h3>Products</h3>
	... a newspaper. And/or blog. Or documentation / manual. Or feed. Or ... you name it.
	Usually, you, as user, will work on a single product only.
	<h3>Editions</h3>
	Your newspaper may appear in different city editions each day.
	Or your blog in different languages.
	Likely to change very seldom, slowly, after initial setup (e.g. by starting production of a new translation).
</div>
{{outlet}}