<div class="container-fluid">
	<h1 class="h3 mb-4 text-gray-800">SPN user management</h1>
	Depending on user's own role, list/add/edit/delte users.
	All users can see each others real names. todo?
</div>
{{outlet}}